.contact-hero {
    position: relative;
    width: 100%;
    height: auto;
}

.contact-text {
    position: absolute;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    height: auto;
}

h1 {
    font-size: 10vmin;
}

#text {
    position: absolute;
    width: 100%;
    height: auto;
    top: 30%;
    color: white;
    font-size: 5vw;
}

.insta-new {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-290%,30%);
    display: inline-block;
    padding-top: 2%;
    a {
        color: #fff; 
    }
}

.insta-full-new {
    float: left;
    justify-content: space-between;
    display: flex;
    position: relative
}

.insta-handle-new {
    padding-left: 10%;
    font-size: 3vmin;
    position: absolute;
    top: -30%;
    left: 100%;
}

.email-logo {
    width: 7vmin;
    height: 7vmin;
}

.email {
    position: absolute;
    top: 190%; left: 51%;
    transform: translate(-290%,30%);
    display: inline-block;
    font-size: 3vmin;
    p {
        color: white;
    }
}

.email-full {
    float: left;
    justify-content: space-between;
    display: flex;
    position: relative
}

.email-handle {
    font-size: 3vmin;
    position: absolute;
    top: -30%;
    width: 43vmin;
}
.facebook{
    position: absolute;
    top: 190%; left: 51%;
    transform: translate(-310%,135%);
    display: inline-block;
    font-size: 3vmin;
    p {
        color: white;
    }
}

.facebook-full {
    float: left;
    justify-content: space-between;
    display: flex;
    position: relative
}

.facebook-logo {
    width: 7vmin;
    height: 7vmin;
}

.facebook-handle {
    font-size: 3vmin;
    position: absolute;
    top: -30%;
    width: 43vmin;
    left: 30%;
}


@media only screen and (min-width: 1000px) {
    .email {
        top: 150%;
    }

    .facebook {
        top: 165%;
    }
}