.contact-hero {
    position: relative;
}

.contact-text {
    position: absolute;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    height: auto;
}

h1 {
    font-size: 10vmin;
}

#text {
    position: absolute;
    width: 100%;
    height: auto;
    top: 30%;
    color: white;
    font-size: 5vw;
}

.insta-new {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-290%,30%);
    display: inline-block;
    padding-top: 2%;
    a {
        color: #fff; 
    }
}

.insta-full-new {
    float: left;
    justify-content: space-between;
    display: flex;
    position: relative
}

.insta-handle-new {
    padding-left: 10%;
    font-size: 3vmin;
    position: absolute;
    top: -30%;
    left: 100%;
}

.email-logo {
    width: 7vmin;
    height: 7vmin;
}

.email {
    position: relative;
    display: inline-block;
    font-size: 3vmin;
    p {
        color: white;
    }
    top: 80%; left: 40%;
    transform: translate(-10%,50%);
    width: 100%;
    height: auton
}

.email-full {
    position: absolute;
    justify-content: space-between;
    display: flex;
    width: 100%;
    /*left: 8%;
    top: 7vw;*/
}

.email-handle {
    position: absolute;
    left: 8vmin;
    top: -1vmin;
}


/* handle de email descentra 
quando passa de mobile para desktop
changed position type in email element*/